.movies {
  background-color: var( --bg-dark-grey);
  min-height: 100vh;
}

.movies__not-found {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white);
}