.profile {
  background-color: var( --bg-dark-grey);
  min-height: 100vh;
}

.profile__header {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--white);
  margin-top: 74px;
  margin-bottom: 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__fieldset {
  padding: 16px  0;
  width: 410px;
  border: none;
  border-bottom: solid 1px #424242; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.profile__fieldset:last-of-type {
  border-bottom: none;
}

.profile__form-label {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--white);
}

.profile__form-input {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--white);
  background-color: transparent;
  border: none;
  text-align: right;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
}

.profile__edit {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family);
  border: none;
  margin-top: 220px;
  margin-bottom: 16px;
  cursor: pointer;
}

.profile__form-error {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #cd2652;
  margin-top: 8px;
  margin-right: 12px;
}

.profile__edit:disabled {
  color: transparent
}

.profile__edit:hover {
  opacity: 0.7
}

.profile__logout {
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
}

.profile__logout:hover {
  opacity: 0.7
}

@media screen and ( max-width: 800px ) {
  .profile__header {
    margin-top: 210px;
    margin-bottom: 96px;
  }

  .profile__edit {
    margin-top: 220px;
  }
}

@media screen and ( max-width: 600px ) {
  .profile__header {
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .profile__form {
    padding: 0 30px;
  }

  .profile__fieldset {
    width: 100%;
  }

  .profile__buttons {
    position: absolute;
    bottom: 40px;
  }
}