.promo {
    background-color: var(--bg-green);
    padding: 50px 70px 60px;
}

.promo__bottom-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.promo__header {
    margin: 0;
    padding: 0;
    color: var(--white);
    width: 600px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    margin-bottom: 102px;
}