:root {
  --bg-green:  #073042;
  --bg-dark-grey: #202020;
  --white: #fff;
  --black: #000;
  --accent-color: #3DDC84;
  --accent-color-blue: #4285F4;
  --font-family: "Inter", Arial, Helvetica, sans-serif;
}
